.profile_img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.iconnnnnnn {
    cursor: pointer;
    padding-left: 5px;
    color: #b2b2b2 !important;
}

.dotted_btn {
    margin-top: -14px;
    display: block !important;
    margin-left: 555px;
    margin-right: auto !important;
    ;
}

ul li {
    list-style: none;
    color: black;
}

.progress {
    /* position: absolute;
    display: block;
    left: 6;
    content: ""; */
    /* width: 50%; */
    height: 6px;
    /* z-index: -1; */
    /* background: var(--progress-bar-bg); */
}

#plus_icon {
    color: green;
}

.social_link {
    color: green;
}

.activity_log {
    color: green;
}

.activity_log_1 {
    margin-top: 10px;
}

.activity_log_1 a {
    color: green;
}

.cat_feed {
    font-size: 15px;
}
.view_profile{
    font-size: 14px;
    color: #14a800;
    font-weight: 600;
}
.green_color
{
    color: #14a800;
}
.three_dots
{
    float: right !important;
}
.sizea
{
    font-size: 23px;
}
.thumb_down
{
    color: #14a800;
    padding: 5px;
    border-radius: 17px;
}
.thumb_down:hover
{
    color: #fff;
    background-color: #14a800;
}
.normal
{
    font-size: 13px;
}
.border{
    height: 30px;
   padding-top: 8px;
    border: 1px solid #b2b2b2;
}
.border:hover{
    background-color: #b2b2b2;
    color: #fff;
}
.bold{
    font-size: 14px !important;
}
.rate_ic{
    font-size: 12px;
    color: gold;
    margin-left: none;
}
.jobs_box:hover{
    background-color: #F9F9F9;
    border: 1px solid gainsboro;
}
.side_links :hover{
    border-left:4px solid #14a800;
}
a{
    text-decoration: none !important;
    color: #575757;
}