body {
    background-color: white;
}

.facilities {
    display: list-item
}

.basic_provide ul li {
    list-style: none;
    margin-left: -40px;
}

.star_icon {
    color: #ffb331;
}

.img_size {
    width: 26px;
}

.side_box {
    background-color: white;
}